* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.camera_div {
    height: 100vh;
    background: #00416A;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E4E5E6, #00416A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E4E5E6, #00416A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.camera{
    width: 512px;
    height: 461px;
    position: relative;
    border : 5px solid white;
}
#vid{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.camera-button{
    width: 72px;
    font-size: 2em;
    font-weight: bold;
    padding: 0.5em;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(-20px);
    background-color: transparent;
    border: 2px solid white;
    color: white;
    text-align: center;
    cursor: pointer;
}

.camera-button:hover{
    background: white;
    color: #222;
    transition: all 200ms linear;
}

.effect{
    opacity: 0.5;
    transition: all 100ms ease;
}

  .liquid h2{
    position: absolute;
    font-size: 6vh;
  }
  .liquid h2:nth-child(1){
    color:#fff;
    text-shadow: -2px 2px 0px #183954,
    -4px 4px 0px #183954,
    -6px 6px 0px #183954,
    -8px 8px 0px #183954,
    -18px 18px 20px rgba(0,0,0,0.5),
    -18px 18px 50px rgba(0,0,0,0.5);
  
    
  }
  .liquid h2:nth-child(2){
    color: #2196f3;
    opacity: 0.5;
    animation: animate 3s ease-in-out infinite;
  }
  .liquid h2:nth-child(3){
    color: #2196f3;
    opacity: 0.5;
    animation: animate 6s ease-in-out infinite;
  }
  .liquid h2:nth-child(4){
    color: #2196f3;
    animation: animate 4s ease-in-out infinite;
  }
  @keyframes animate{
    0%,100%{
        clip-path: polygon(0% 46%, 16% 45%,34% 52%, 50% 61%, 68% 65%, 85% 61%,100% 53%,100% 100%, 0% 100%);
    }
    50%{
        clip-path: polygon(0% 59%, 18% 67%,36% 70%, 51% 66%, 66% 56%, 82% 49%,100% 45%,100% 100%, 0% 100%);
    }
  }